* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0;
    padding:0;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width:100%;
}

/* Portrait layout (default) */
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    padding-top: 2em;
}

h1 {
    font-weight:normal;
    margin:0;
    padding:0;
}
#list {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    font-size: 1rem;
}
#list .list_item {
    color: #363636;
    display: flex;
    text-decoration: none;
    background-color: #f5f5f5;
    border-bottom: 1px solid #E4E4E4;
    padding: .7em;
    padding-bottom: .5em;
    justify-content: space-between;
    align-items: center;
    min-width: 12rem;
}
#list .list_item:last-of-type {
    border-bottom: none;
}

#list .list_item:hover {
    background-color: #E4E4E4;
}
#list .list_item.active {
    color: #E4E4E4;
    background-color: #3273dc;
}
#list .list_item .badge {
    border-radius: .3em;
    font-size: 10px;
    padding: .4em;
    color: #999;
    border: 1px solid #d9d9d9;
    display: inline-block;
    margin-left: .3rem;
}
#list .list_item.active .badge {
    color: #ebebeb;
    border: 1px solid #ebebeb;
}
#list .list_item .badge:empty {
    display: none;
}
#list .list_item progress {
    height: .75rem;
    width: 3.5rem;
    margin-left: 1em;
}
#debug {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #c7c7c7;
}
#debug summary{
    background: #333333;
    color: white;
    line-height: 2em;
    font-size: large;
    margin: 0;
    display: flex;
    align-items: center;
}
#debug summary .last-entry {
    flex-grow: 1;
    text-align: right;
    opacity: .8;
    padding-right: .5em;
}
#debug #output {
    padding: 1em;
    border-radius: .1em;
    width: 90%;
    margin: 0;
    height: 33.3333vh;
    overflow-y: scroll;
}
#debug #output em {
    color: #3273dc;
}
.reload-button {
    font-size: 1.25rem;
    background: #00d1b2;
    color: #FFF;
    border: none;
    padding: .4em .75em;
    border-radius: .2em;
}
.text-muted {
    color: #999;
}
.d-none{
    display: none;
}
#loader {
    font-size: large;
    position: relative;
}
#loader:after{
    content: "";
    animation: loading 3s linear infinite;
    position: absolute;
}
#loader:empty:after{
    content:none;
    animation: none;
}
@keyframes loading {
    0% {content: ""} 20% {content: "."} 40% {content: ".."} 80% {content: "..."}
}
body{
    background: #D0D0D0;
}
body.online{
    background: #E4E4E4;
}
